{% extends 'main.html' %}
{% load bootstrap %}

{% block title %} Confirm change {% endblock %}
{% block site %}
<div class="row justify-content-center">
    <div class="card" style="width: 18rem; background-color: #ffffff;" >
      <div class="card-body">
        <h5 class="card-title">Warning</h5>
        <h6 class="card-subtitle mb-2 text-muted">Are you sure, you want to end this ad: {{shoes}}</h6>
       <form method="post">
            {% csrf_token %}
            <div class="row justify-content-center">
            <button class="btn btn-danger" type="submit">Yes</button>
        </form>
            <a href="{% url 'all_shoes' %}" class="btn btn-success">No </a>
            </div>
      </div>
    </div>
<div></div>
{% endblock %}
