{% extends 'main.html' %}
{% block title %} Shoes list {% endblock %}

{% block site %}
    <h1>Welcome, {{ user.get_username }}</h1>
    {% if shoes_list|length == 0 %}
    <h1>No shoes in stock</h1>
    {% endif %}
    {% if shoes_list|length != 0 %}
        {% for shoes in shoes_list %}
            <div class="container mb-5">
                <div class="row">
                    <div class="col-12">
                        <img src="/media/{{shoes.photo }}" class="card-img-top" style="width: 400px">
                    </div>
                    <div class="col-12">
                        <h5 class="card-title text-center">{{ shoes.brand}} {{ shoes.model}}</h5>
                    </div>
                     <div class="col-12">
                        <p class="text-center">{{shoes.description}}</p>
                    </div>
                </div>
              <ul class="list-group list-group-flush">
                  <div class="row">
                    <div class="col-6">
                        <li class="list-group-item text-center">{{shoes.price}}</li>
                    </div>
                    <div class="col-6">
                        <li class="list-group-item text-center">{{shoes.size}}</li>
                    </div>
                  </div>
              </ul>
            </div>
          <div class="card-body">
            <div class="container">
                    <div class="row">
                        <div class="col-1 text-center">
                            <a href="{% url 'edit_shoes' shoes.id %}" class="card-link"><i class="fa-solid fa-2x fa-pen-to-square"></i></a>
                            <a href="{% url 'delete_shoes' shoes.id %}" class="card-link"><i class="fa-solid fa-2x fa-trash"></i></a>
                        </div>
                    </div>
            </div>
          </div>
        </div>
    {% endfor %}
    {% endif %}


{% endblock %}


